@import
	url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap')
	;

body {
	display: flex;
	flex-direction: column;
}

* {
	margin: 0;
	padding: 0;
}

h2 {
	white-space: nowrap;
	width: 150px;
	overflow: hidden;
	text-overflow: ellipsis;
}

img {
	width: 2000px;
	height: 2000px;
}

li {
	display: inline-block;
	text-align: center;
	text-decoration: underline;
}

div.a {
	background-color: blue;
}

div.b {
	background-color: yellow;
}

.btn {
	height: 150px;
	width: 150px;
	color: white;
	background-color: blue;
	border: 0;
	border-radius: 50%;
}